<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/CSS/bootstrap.min.css"
          rel="stylesheet" />
    <script src="~/Content/JavaScript/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/Content/CSS/admin_layout.css" />
</head>
<body>
    <div>
        <div class="container-fluid">
            <div class="header">
                <div class="main-title">
                    <a href="@Url.Action("Index", "Books", "Books")" class="name-page">Admin</a>
                </div>
                <div class="site-action">
                    <a href="~/ClientLayout/Logout">Đăng xuất</a>
                </div>
            </div>
            <div class="content">
                <div class="hoz-navgi">
                    <ul>
                        <li><a href="@Url.Action("Index", "Books", "Books")">Sản phẩm</a></li>
                        <li><a href="@Url.Action("Index", "Categories","Categories")">Loại sách</a></li>
                        <li><a href="@Url.Action("Index", "Publishers", "Publishers")">Nhà xuất bản</a></li>
                        <li><a href="@Url.Action("Index", "Orders", "Orders")">Đơn hàng</a></li>
                        <li><a href="@Url.Action("Index", "Users", "Users")">Tài khoản</a></li>
                        <li><a href="@Url.Action("Index", "RevenueStatistics", "RevenueStatistics")">Thống kê bán hàng</a></li>
                    </ul>
                </div>

                <div class="right-side">
                    <div class="para">
                        @RenderBody()

                    </div>

                </div>
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
