@model bookstore.Models.Book

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<html>
<head>
    <title>Sửa thông tin sản phẩm</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/CSS/bootstrap.min.css"
          rel="stylesheet" />
    <script src="~/Content/JavaScript/bootstrap.bundle.min.js"></script>
    <script src="~/Content/JavaScript/kit.fontawesome..js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/Content/CSS/create.css" />
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h4>Sửa thông tin sách</h4>
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="loadImg">
                <img src="@Url.Content("~/Content/Images/"+Model.image)" width="200" height="200" style="object-fit: contain" />
                @Html.TextBoxFor(model => model.image, Model.nameBook, new { type = "file", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.image, "", new { @class = "text-danger" })
            </div>

            <div class="info">
                <table>
                    <tr>
                        <td>@Html.HiddenFor(modal => modal.IdBook)</td>
                    </tr>
                    <tr>
                        <td>Tên sách: </td>
                        <td style="width:500px">
                            @Html.EditorFor(model => model.nameBook, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.nameBook, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                   
                    <tr>
                        <td>Mô tả sách: </td>
                        <td >
                           
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.description)
                                    @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                                    <script>
                                        CKEDITOR.replace("Description")
                                    </script>
                                </div>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>Số lượng: </td>
                        <td style="width:500px">
                            @Html.EditorFor(model => model.quality, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.quality, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>Đơn giá: </td>
                        <td style="width:500px">
                            @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>Thể loại sách: </td>
                        <td style="width:300px">
                            @Html.DropDownList("IdCate", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IdCate, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>Nhà xuất bản: </td>
                        <td style="width:300px">
                            @Html.DropDownList("IdPub", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IdPub, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                </table>
                <div>
                    <input type="submit" value="Lưu" class="btn btn_add" />
                    <a href="@Url.Action("Details", "Books", new {id = Model.IdBook})" class="btn btn_close"> Hủy</a>
                </div>
            </div>
        </div>
    }

</body>
</html>



