@model PagedList.PagedList<bookstore.Models.Order>
@using PagedList.Mvc

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/CSS/button.css" />
    <title>Đơn hàng</title>
    <style>
        .head {
            display: inline;
            margin-bottom: 20px;
        }

        .search {
            overflow: hidden;
            width: 400px;
            white-space: nowrap;
            margin-right: 40px;
            border-radius: 5px;
            float: right;
        }

            .search .input {
                width: 400px;
                height: 50px;
                background: #fff;
                border: none;
                font-size: 10pt;
                float: left;
                color: #000;
                padding-left: 15px;
                border-radius: 5px;
                border-radius: 5px;
            }

        .button {
            float: right;
            width: 60px;
            height: 48px;
            padding: 10px;
            background: #2196f3;
            color: white;
            font-size: 17px;
            border: 1px solid grey;
            border-left: none;
            cursor: pointer;
            margin-top: -49px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

            .button:hover {
                background: #0b7dda;
            }

        .pagination {
            display: inline;
        }

            .pagination a {
                color: #000;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
                transition: background-color .3s;
            }

                .pagination a.active {
                    background-color: #00f;
                    color: #000;
                    border-radius: 5px;
                }

                .pagination a:hover:not(.active) {
                    background-color: #ddd;
                    border-radius: 5px;
                }

        .text {
            float: right;
            margin-right: 30px;
        }
        .order-area{
            width: 73vw;
        }
        .link{
            color: #000;
            text-decoration: none;
        }
        .link:hover{
            font-weight: bold;
            color: #000;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="order-area">
        <table class="table table-striped container-fluid">
            <tr class="row container-fluid">
                <th class="col-xl-2">
                    Mã đơn hàng
                </th>
                <th class="col-xl-3">
                    Tình trạng
                </th>
                <th class="col-xl-2">
                    Ngày đặt hàng
                </th>
                <th class="col-xl-2">
                    Ngày nhận hàng
                </th>
                <th class="col-xl-2">
                    Mã khách hàng
                </th>
                <th class="col-xl-1"></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr id="@item.IdOrder" class="row container-fluid">
                    <td class="col-xl-2" id="IdOrder">
                        <a class="link" href="@Url.Action("OrderDetail","Orders", new {id = item.IdOrder})">
                            @Html.DisplayFor(modelItem => item.IdOrder, new { @format = "{0:D5}" })
                        </a>
                        
                    </td>
                    <td class="col-xl-3">
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                    <td class="col-xl-2">
                        @Html.DisplayFor(modelItem => item.oderDate)
                    </td>
                    <td class="col-xl-2">
                        @Html.DisplayFor(modelItem => item.deliveryDate)
                    </td>
                    <td class="col-xl-2">
                        @Html.DisplayFor(modelItem => item.MaKH)
                    </td>
                    <td class="col-xl-1">
                        <a class="btn btn-success confirm-order" style="color: #fff" data-id="@item.IdOrder">Duyệt</a>
                    </td>
                </tr>

            }

        </table>

        
    </div>

    <div class="pagination">
        <p class="text">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)</p>
        <a>@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))</a>


    </div>

    <script>

        $(document).ready(function () {
            $(".confirm-order").click(function () {
                var idOrder = $(this).data("id"); 

                //console.log(idOrder);

                if (confirm("Bạn có chắc chắn muốn duyệt đơn hàng #" + idOrder + " không?")) {
                    $.ajax({
                        type: "POST",
                        url: "/Orders/ConfirmOrder",
                        data: { id: idOrder },
                        success: function (response) {
                            location.reload();
                        },
                        error: function () {
                            alert("Lỗi! Không thể duyệt đơn hàng.");
                        }
                    });
                }
            });
        });
    </script>


</body>
</html>
